<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.UserDao">

    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, age
    </sql>

    <select id="queryAllUser" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"/> from user
    </select>


    <select id="queryAllUserCount" resultType="java.lang.Integer">
      select count(*) from user
    </select>

    <select id="queryUserById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from user where id = #{id}
    </select>


</mapper>
